<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
<h1>Вход</h1>
<% if (error) { %><p style="color:red"><%= error %></p><% } %>
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Имя пользователя" required><br>
    <input type="password" name="password" placeholder="Пароль" required><br>
    <button type="submit">Войти</button>
</form>
<a href="/register">Регистрация</a>
</body>
</html>
